body{
    background-color: black;
    color: white;
}
#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    position: relative;
     padding: 1rem;
}
.div{
    display: flex;
    gap: 20px;
}
